<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghostpost</title>
    <style>
        .post {
            margin: 20px;
        }


    </style>
</head>

<body>
    <header>
        <a href="/"><button>Home</button></a>
        <a href="/popular"><button>Most Popular</button></a>
        <a href="/boasts"><button>Boasts</button></a>
        <a href="/roasts"><button>Roasts</button></a>
        <a href="/new"><button>New Post</button></a>
    </header>
    <div class="body">
        {% for post in posts %}
            <div class="post">
                <h1>{{ post.content }}</h1>
                {% if post.is_boast %}
                    <h2 style="color: cornflowerblue">Boast</h2>
                {% else %}
                    <h2 style="color: crimson">Roast</h2>
                {% endif %}
            <div>
                <a href="/upvote/{{ post.id }}"><button>👍 Upvote</button></a>
                <a href="/downvote/{{ post.id }}"><button>👎 Downvote</button></a>
            </div>
                <h1>{{ post.score }}</h1>
                <p>{{ post.date }}</p>
                <hr/>
            </div>
        {% endfor %}
    </div>
</body>

</html>