<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghostpost</title>
</head>

<body>
    <header>
        <a href="home/"><button>Home</button></a>
        <a href="popular/"><button>Most Popular</button></a>
        <a href="boasts/"><button>Boasts</button></a>
        <a href="roasts/"><button>Roasts</button></a>
        <a href="new/"><button>New Post</button></a>
    </header>
    <div>
        {% for post in posts %}
            <div>
                <h1>{{ post.content }}</h1>
                <h4>{{ post.is_boast }}</h4>
            </div>
        {% endfor %}
    </div>
</body>

</html>