<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>{{ post.content }}</h1>
        <h4>{{ post.is_boast }}</h4>
        <a href="/upvote/{{ post.id }}"><button>👍 Upvote</button></a>
        <a href="/downvote/{{ post.id }}"><button>👎 Downvote</button></a>
        <h2>{{ post.score }}</h2>
        <p>{{ post.date }}</p>
        <hr/>
    </div>
</body>

</html>