<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1 style="color: red">Keep this link secure! This is the <strong>private</strong> view of your post.</h1>
<p>Your secret key for accessing this page is <strong>{{ post.secret }}</strong></p>
    <div>
        <h1>{{ post.content }}</h1>
        <h4>{{ post.is_boast }}</h4>
        <a href="/upvote/{{ post.id }}"><button>👍 Upvote</button></a>
        <a href="/downvote/{{ post.id }}"><button>👎 Downvote</button></a>
        <h2>{{ post.score }}</h2>
        <p>{{ post.date }}</p>
        <hr/>
        <a href="/delete/"><button type="button">Delete</button></a>
    </div>
<h5>Want to see the <strong>public</strong> version of your post? <a href="post/{{ post.id }}/">Click Here</a></h5>
</body>

</html>